<div class="container">
    <div class="form-container">
        <h2 class="form-title">Post nuevo Coche</h2>
        <form [formGroup] = "postCocheForm">
            <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" required formControlName="marca">
            </div>
            <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" name="modelo" required formControlName="modelo">
            </div>
            <button type="submit" (click)="postCoche()">Post</button>
        </form>
    </div>
</div>